[submodule "CrocEngine/vendor/spdlog"]
	path = CrocEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CrocEngine/vendor/GLFW"]
	path = CrocEngine/vendor/GLFW
	url = https://github.com/lucas-ferreira-croc/glfw
[submodule "CrocEngine/vendor/imgui"]
	path = CrocEngine/vendor/imgui
	url = https://github.com/lucas-ferreira-croc/imgui
[submodule "CrocEngine/vendor/glm"]
	path = CrocEngine/vendor/glm
	url = https://github.com/g-truc/glm
